Cython==0.29.34
easydict==1.10
envbash==1.2.0
h5py==3.8.0
hdf5storage==0.1.19
matplotlib==3.8.3
moviepy==1.0.3
numpy==1.23.5
openpyxl==3.1.2
pandas==1.5.3
scikit-image==0.20.0
scipy==1.8.0
tqdm==4.65.0
umap-learn==0.5.3